node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma


# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsInJvbGUiOiJBRE1JTiIsImlhdCI6MTc2MzMxODAwNSwiZXhwIjoxNzYzOTIyODA1fQ.3bl7bP0bjF-8mACu3RNBzwKY1df1FjHq_sAkbM1yf3M
